#followers,
#following {
  min-height: 28.5vh;
}

#logo {
  height: 12vh;
  width: 8vw;
}

#logo2 {
  height: 10vh;
  width: 30vw;
}

#photo_user {
  margin-top: 2.1vh;
  height: 20vh;
  width: 10vw;
}

#section_1 {
  padding-top: 18vh;
  padding-bottom: 16vh;
}

#section_filter_mobile {
  margin-top: 1vh;
}

#user_form {
  padding-top: 5vh;
  padding-bottom: 1vh;
}

#photo_user_mobile {
  height: 5vh;
  width: 8vw;
}

div.canal {
  height: 15vh;
  margin: 2.6vh 2vw;
}

div.canal > img {
  height: 15vh;
  width: 15vw;
}

div.canal-mobile {
  display: inline;
  height: 15vh;
  margin: 0 1.6vw;
}

div.canal-mobile > img {
  height: 10vh;
  width: 15vw;
}

div.followers-mobile,
div.following-mobile,
div.followers,
div.following {
  display: inline-block;
}

div.followers-mobile > img:hover,
div.following-mobile > img:hover,
div.followers > img:hover,
div.following > img:hover {
  border-radius: 50%;
}

div.followers > img,
div.following > img {
  height: 10vh;
  width: 6vw;
}

div.followers-mobile > img,
div.following-mobile > img {
  height: 20vh;
  width: 30vw;
}

div.mobile-container {
  min-height: 100vh;
}

div.post-container {
  background-color: #eceff1;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.clear-b {
  clear: both;
}
