<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>What more watch...</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <!--Main container-->
    <div class="">
      <!--Header-->
      <div id="navbar" class="row mb-0 show-on-large hide-on-small-only">
        <nav class="red darken-3">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img id="logo" src="../assets/images/logo.png" alt="Logo"></a>
          </div>
        </nav>
      </div>
      <!--Header mobile-->
      <div id="navbar" class="row mb-0 show-on-small hide-on-large-only">
        <ul id="dropdown1" class="dropdown-content">
          <li><a href="../views/followers.html">Followers</a></li>
          <li><a href="../views/following.html">Following</a></li>
          <li class="divider"></li>
          <li><a href="../views/page.html">Home</a></li>
        </ul>
        <nav>
          <div class="nav-wrapper red darken-3">
            <a href="#" class="brand-logo left"><img id="logo2" src="../assets/images/logo2.png" alt="Logo mobile"></a>
            <ul class="right">
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><img id="photo_user_mobile" src="../assets/images/user.png" alt="User photo mobile"> User Name<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
          </div>
        </nav>
      </div>
      <!--Section 1-->
      <div class="row mb-0">
        <!--Section user-->
        <div id="section_user" class="col l3 blue-grey lighten-5 center-align hide-on-small-only">
          <!--User photo-->
          <div class="row">
            <div class="col l6 offset-l3">
              <img id="photo_user"src="../assets/images/user.png" alt="Photo user">
              <h5><a href="../views/page.html">@User_name</a></h5>
            </div>
          </div>
          <!--Followers-->
          <div id="followers" class="col l12">
            <p class="col l12 red-text text-darken-3 mt-0">Followers</p>
            <div class="followers">
              <img src="http://dummyimage.com/200x200" alt="Followers">
            </div>
            <div class="followers">
              <img src="http://dummyimage.com/200x200" alt="Followers">
            </div>
            <div class="followers">
              <img src="http://dummyimage.com/200x200" alt="Followers">
            </div>
            <div class="followers">
              <img src="http://dummyimage.com/200x200" alt="Followers">
            </div>
            <div class="followers">
              <img src="http://dummyimage.com/200x200" alt="Followers">
            </div>
            <div class="followers">
              <img src="http://dummyimage.com/200x200" alt="Followers">
            </div>
          </div>
          <!--Following-->
          <div id="following" class="col l12">
            <p class="red-text text-darken-3 mt-0">Following</p>
            <div class="following">
              <img src="http://dummyimage.com/200x200" alt="Followers">
            </div>
            <div class="following">
              <img src="http://dummyimage.com/200x200" alt="Followers">
            </div>
            <div class="following">
              <img src="http://dummyimage.com/200x200" alt="Followers">
            </div>
            <div class="following">
              <img src="http://dummyimage.com/200x200" alt="Followers">
            </div>
            <div class="following">
              <img src="http://dummyimage.com/200x200" alt="Followers">
            </div>
            <div class="following">
              <img src="http://dummyimage.com/200x200" alt="Followers">
            </div>
          </div>
        </div>
        <!--Main section-->
        <div class="col l6 s8">
          <!--Text area-->
          <div class="row blue-grey lighten-5">
            <div class="row">
              <form class="col s12">
                <div class="row mb-0">
                  <div class="input-field col s12 white">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                  </div>
                  <button class="btn waves-effect waves-light right" type="submit" name="action">Post</button>
                </div>
              </form>
            </div>
          </div>
          <!--Main post container-->
          <div class="row post-container">
            <div class="col l12 s12">
              <h1>HOLA</h>
            </div>
          </div>
        </div>
      </div>
    </div><!--End of container-->
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-firestore.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
  </body>
</html>
